<div class="image">
  <img [src]="'https://image.tmdb.org/t/p/w600_and_h900_bestv2'+film.poster_path">
</div>
<div class="content">
  <div class="header">
    {{film.title}}
  </div>
  <div class="meta">
    Release: {{film.release_date}}
  </div>
  <div class="description">
    {{film.overview}}
  </div>
</div>
<div class="extra content">
  <div class="ui two buttons"> 
    <a class="ui basic green button" [routerLink]="[ '/movie', film.id ]">Open</a>
  </div>
</div>
