<div class="ui segment">
	<div class="ui icon input fluid" [formGroup]="form">
		<input type="text" placeholder="Name" formControlName="queryString">
		<i class="search icon"></i>
	</div>
	<hr>
	<div class="ui cards" *ngIf="searchResults?.results.length">
		<app-film class="card" *ngFor="let film of searchResults?.results" [film]="film"></app-film>
	</div>
	<div *ngIf="!searchResults?.results.length">
		<h3>No films</h3>
	</div> 
	<hr>
	<div class="pagination" *ngIf="searchResults?.results.length">
		<button *ngIf="currentPage >= 2 && searchResults?.total_pages > 1" (click)="loadPrevPage()" class="ui left labeled icon button">
			<i class="left arrow icon"></i>
			Prev page
		</button>
		<div>
			page {{currentPage}} of {{searchResults?.total_pages}}
		</div>
		<button *ngIf="currentPage < searchResults?.total_pages && searchResults?.total_pages > 1" (click)="loadNextPage()" class="ui right labeled icon button">
			<i class="right arrow icon"></i>
			Next page
		</button>
	</div> 
</div>