.movie__poster {
    display: block;
    max-width: 100%;
    width: 100%;
}

.item__badge {
    display: inline-block;
    padding: 0 5px;
}

.item__badge + .item__badge {
    border-left: 1px solid rgba(0, 0, 0, 0.87);
}

.film__info {
    margin-bottom: 20px;
}
.film__info p {
    font-size: 20px;
    margin-bottom: 5px;
}