<div class="ui two column grid">
    <div class="row">
        <div class="column">
            <img class="movie__poster" [src]="'https://image.tmdb.org/t/p/w600_and_h900_bestv2'+film.poster_path">
        </div>
        <div class="column">
            <h1>{{film.title}}</h1>
            <p>{{film.overview}}</p>
            <div class="film__info">
                <p>Genres:</p>
                <span class="item__badge" *ngFor="let genre of film.genres">{{genre.name}}</span>
            </div>
            <div class="film__info" *ngIf="film.production_companies.length">
                <p>Production companies:</p>
                <span class="item__badge" *ngFor="let company of film.production_companies">{{company.name}}</span>
            </div>
            <div class="film__info" *ngIf="film.production_countries.length">
                <p>Production countries:</p>
                <span class="item__badge" *ngFor="let country of film.production_countries">{{country.name}}</span>
            </div>
        </div>
    </div>
</div> 